*{

	font-family: 'Poppins', sans-serif, 'Shantell Sans';
	text-decoration: none;
	scroll-behavior: smooth;
	list-style: none;
}

@font-face {
	font-family: 'Lobster';
	src: url('Lobster-Regular.ttf') format('truetype');
  }
  
  

:root{
	--bg-color: #fff;
	--text-color: #221314;
	--second-color: #5a7184;
	--main-color: #a78245;
	--big-font: 4rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
body{
	background: var(--bg-color);
	color: var(--text-color);
	height: 50vh;
	background: url(black.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

header{
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgb(0, 0, 0);
	padding: 20px 10%;
	transition: ease .40s;
	height: 80px;
	
}


.logo{
	font-family: 'Lobster', cursive;
	font-size: 35px;
	font-weight: 500;
	letter-spacing: 1px;
	color: var(--bg-color);

}
.navbar{
	display: flex;
	gap: 1.5rem;
}
.normal{
	position: relative;
	color: white;
	font-size: var(--p-font);
	padding: 9px;
	border-radius: 4px;
	font-weight: 300;

}

.notnormal:hover{
	color: white;
}

.notnormal{
	position: relative;
	color: white;
	font-size: var(--p-font);
	padding: 9px;
	border-radius: 4px;
	font-weight: 300;

}

.normal::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 0.175rem;
	background: rgba(255, 255, 255, 0.427);
	left: 0;
	margin-top: 2rem;
	letter-spacing: 0.5rem;
	border-radius: 27px;

}

.notnormal::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 0.175rem;
	background: rgb(255, 255, 255);
	left: 0;
	margin-top: 2rem;
	letter-spacing: 0.5rem;
	border-radius: 27px;

}
.normal::after{
	transform: scale(0,1);
	transition: transform 0.3s ease;
}
.normal:hover::after{
	transform: scale(1,1);
}




.btn{
	text-decoration: none;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	z-index: -1;
	transition: ease .40s;
	padding: 10px 20px;
	border-radius: 27px;
	font-weight: 500;
}


section{
	padding: 80px 10%;
	
}
.home{
	position: relative;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}

.home-text h1{
	font-size: var(--big-font);
	line-height: 1.2;
	color: var(--bg-color);
	letter-spacing: 4px;
	margin-bottom: 20px;
	margin-top: 5rem;
	font-weight: 450;
}

.home-btn{
	display: inline-block;
	font-size: 16px;
	padding: 15px 30px;
	background: #ffffff;
	color: black;
	border-radius: 27px;
	transition: ease .40s;
	margin-top: 5rem;
  }
  .home-text h1{
	opacity: 0;
	transform: translateY(-50px);
	transition: all 0.5s ease-out;
  }
  .home-btn {
	opacity: 0;
	transform: translateY(-50px);
	transition: all 0.5s ease-out;
  }
.home-btn:hover{
	background: white;
	transform: scale(1.1);
}
header.sticky{
	background: rgb(0, 0, 0);
	padding: 10px 10%;
	box-shadow: rgba(33,35,38, 0.1) 0px 10px 10px -10px;
}
.sticky .logo{
	color: white;
}
.sticky .normal{
	color: rgb(255, 255, 255);
} 
.sticky .btn{
	color: rgb(0, 0, 0);
} 
.btn:hover{
	background: white;
	transform: scale(1.1);
}
/****************************************************************contact page********************************/

.contact h1{
	margin-top: 10rem;
	font-size: 50px;
	font-weight: 500;
	margin-left: 8rem;
}
.contact h1{
	opacity: 0;
	transform: translateY(-50px);
	transition: all 0.5s ease-out;
  }

.contact-inside{
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 2.5rem;
	row-gap: 2rem;
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: 3rem;
	height: 9rem;
}

.first, .last, .email, .company{
	border: 15px rgb(240, 240, 240) solid;
	position: relative;
	text-align: left;
	color: black;
	font-size: 1rem;

}

.container {
	
	display: grid;
	justify-content: center;
  
}
.message{

	border: 15px rgb(240, 240, 240) solid;
	margin-top: 2rem;
	font-size: 1rem;
	width: 101%; 
	box-sizing: border-box; 
	font-size: 16px;


}

.submit{
	border-radius: 27px;
	margin-top: 2rem;
	margin-left: 10rem;
	width: 9rem;
	height: 3rem;
	font-size: 1rem;
	border: none;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
}

.submit:hover{
	transform: scale(1.1);
}



/****************************************************************footer********************************/
*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

footer{
	margin-top: 5rem;
     background-color: #000000ff;
     position: relative;
     width: 100%;
     min-height: 350px;
     padding: 3rem 1rem;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color:#f2f2f2f2;
    font-family: poppins;
    padding:0 2rem;
}
.col .logo{
    width: 100px;
    margin-bottom:25px;
}
.col h3{
    color:#ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}
.col h3::after{
    content: '';
    height:3px;
    width:0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left:0;
    transition: 0.3s ease;

}
.col h3:hover::after{
    width:30px
}
.col .social a i{
    color:#ff014fff;
    margin-top:2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}
.col .social a i:hover{
    transform: scale(1.5);
    filter:grayscale(25);
}
.col .links a{
    display: block;
    text-decoration: none;
    color:#f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}
.col .links a::before{
    content:'';
    height: 16px;
    width:3px;
    position: absolute;
    top:5px;
    left:-10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}
.col .links a:hover::before{
    opacity: 1;
}
.col .links a:hover{
    transform: translateX(-8px);
    color:#ff014fff;
}
.col .contact-details{
    display: inline-flex;
    justify-content: space-between;
}
.col .contact-details i{
    margin-right:15px;
	margin-bottom: 5rem;
}
.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem 0;
}
.row .form input{
    background-color: #1a1c20ff;
    border:0;
    outline:none;
    padding:14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form button{
    padding:14px 20px;
    border:0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ff014fff;
}

@media(max-width:900px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
  }
}
@media(max-width:768px)
{
  .row{
    flex-direction: column;
  }
  .col{
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }
}

@media (max-width: 1400px){
	header{
		padding: 17px 3%;
		transition: .2s;
	}
	header.sticky{
		padding: 10px 3%;
		transition: .2s;
	}
	section{
		padding: 80px 3%;
		transition: .2s;
	}
	:root{
		--big-font: 4.5rem;
	  --h2-font: 2.3rem;
	  --p-font: 1rem;
	  transition: .2s;
	}
}

@media (max-width: 1040px){
	#menu-icon{
		display: block;
		color: #a78245;

	}
	.stick #menu-icon{
		color: var(--text-color);
	}
	.home{
		height: 88vh;
	}
	.navbar{
		position: absolute;
		top: 0;
		right: -100%;
		width: 200px;
		height: 60vh;
		background-color: #a78245;
		opacity: 0.8;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: 0.5s all;
	}
	.navbar a{
		display: block;
		margin: 1.2rem 0;
	}
	.sticky .navbar a{
		color: var(--bg-color);
	}
	.navbar a:hover{
		color: var(--text-color);
	}
	.open{
		right: 0;
	}
	.list{
		width: 50%;
		margin-bottom: 5px;
	}
}

@media (max-width: 575px){
	.list{
		width: 100%;
	}
	.newsletter form{
		width: 350px;
	}
	:root{
		--big-font: 3.8rem;
	  --h2-font: 1.8rem;
	  transition: .2s;
	}
	.text{
		text-align: center;
	}
	.home{
		height: 85vh;
		transition: .2s;
	}
}

@media(max-width:1300px){
	.logo{
		font-size: 25px;
		margin-left: 3rem;
	}
}

@media(max-width:1040px){
	.home-text h1 {
		font-size: 2rem;
		margin-top: -15rem;
		text-align: left;

	}
	.home-btn{
		padding: 10px ;
		font-size: 15px;
		justify-content: center;
		margin-top: -1px;
		justify-content: center;
		text-align: center;
	}
	.contact h1{
		margin-top: -15rem;
		font-size: 2rem;
		margin-left: auto;
		margin-right: auto;
		text-align: center;

	}
	.contact-inside{
		display: grid;
		grid-template-columns: auto;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.message{
		display: flex;
		margin-left: 1rem;
		margin-right: 1rem;
		margin-top: 13rem;
		overflow: auto;
		max-width: 33rem;
	}
	.submit{
		display: block;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.annoying{
		top: 1.5rem;
	}
}

@media only screen and (max-width: 600px) {
	.message {
	  width: 90%; /* decrease width */
	  margin-top: 13rem; /* decrease margin */
	  padding: 8px; /* decrease padding */
	}
  }
  
  @media only screen and (max-width: 400px) {
	.message {
	  width: 100%; /* make the textarea full width */
	  margin-top: 13rem; /* decrease margin further */
	  padding: 6px; /* decrease padding further */
	}
  }

/************hamburger menu*******/

.burger{
	display: none;
}

.burger div{
	width: 30px;
	height: 3px;
	background-color: white;
	margin: 5px ;
	border-radius: 5px;
	transition: all 0.3s ease;

}

@media screen and (max-width: 1040px){



	.navbar{
		position: absolute;
		right: 0px;
		color: rgb(255, 255, 255);
		top: 8vh;
		background-color: rgb(0, 0, 0);
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translate(100%);
		transition: transform 0.5s ease-in;
		border-radius: 25px;
		height: 100rem;
	}


	




	.notnormal, .normal{
		font-size: 20px;
		bottom: 2rem;
	}

	.btn{
		position: relative;
		bottom: 40px;
	}


	

	.navbar li{
		opacity: 0;
	}
	
	.burger{
		display: block;

	}

    .normal:hover{
		color: white;
	}

	body {
		overflow-x: hidden;
	}


}

@media screen and (max-width: 786px){

	.message{
		width: 93%;
	}
}

.navbar li:hover a {
	color: white;
  }

  .home-btn:hover {
	color: black;
  }
  

.nav-active{
	transform: translateY(0%);
}

.body{
	overflow-x: hidden;
}
@keyframes navbarFade{
	from{
		opacity: 0;
		transform: translateY(50px);
	}
	to{
		opacity: 1;
		transform: translateY(0px);

	}
}

.toggle .line1{
	transform: rotate(-45deg) translate(-5px,6px);

}

.toggle .line2{
	opacity: 0;

}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);

}

